@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --primary-color: #F6F5EC;
  --secondary-color: #806248;
  --neutral-dark: #402A1E;
  --black: #060606;
  --max-width:1300px;
}

/* ----- SECTION ----*/

.section__container{
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.section__dark{
  background-color: #402A1E;
  max-width: 100%;
}
.section__header{
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--secondary-color);
  text-align: center
}
.btn{
  padding: 0.625rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--black);
 border: 2px solid var(--secondary-color);
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  display: flex;
  width: 100%;
}
a{
  text-decoration: none;
  transition: 0.3s;
  color: var(--primary-color);
}
ul{
  list-style: none;
}
html,
body{
  scroll-behavior: smooth;
}
body{
  font-family: 'Garamond';
}

/*------ NAV -----*/

nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral-dark);
  width: 100%;
  height: 4rem;
  top: 0;
  left: 0;
  z-index: 9;
}
.nav__header{
  padding: 1.5rem 4rem;
}
.nav__links{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
  color: var(--primary-color);
  transition: transform 0.5;
  z-index: -1;
}
.nav__menu__btn {
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}
.nav__links.open{
  transform: translateY(0);
}
.nav__links a{
  font-weight: 10;
  color: var(--primary-color);
}
.nav__btn{
    margin-top: 0.9rem;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    outline: none;
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    transition: 0.3s;
    cursor: pointer;
}
.nav__btn:hover{
  background-color: var(--secondary-color);
}

/* ----- HERO ----*/

.hero__container{
  padding-block: 5rem 0;
  display: grid;
  gap: 2rem;
  overflow: hidden;
  grid-template-columns: repeat(2,1fr);
}
.hero__image img{
  max-width: 350px;
  margin-inline: auto;
  margin-top: 2rem;
}
.hero__content{
  padding-top: 3.5rem;
}
.hero__content h1{
  font-size: 6rem;
  font-weight: 100;
  font-family: 'Playfair Display';
  color: var(--secondary-color);
}
.hero__content h3{
  font-weight: 200;
  font-size: 1.6rem;
}
.hero__socials {
   padding-top: 1rem;
   display: flex;
   gap: 15px;
} 
.hero__socials img{
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
}

/* ----- ABOUT ----*/

.about__container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}
.about__image{
  position: relative;
  isolation: isolate;
  max-width: 350px;
  margin-inline: auto;
  padding: 4px;
  overflow: hidden;
}
.about__content :is(.section__header){
  text-align: center;
}
.about__description{
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  line-height: 1.75rem;
}

/* ----- SKILLS ----*/

.skills__grid{
  margin-top: 4rem;
  display: grid;
  gap: 4rem 1rem;
  grid-template-columns: repeat(3,25%);
  justify-content: center;
  width: 100%;
}
.skills__card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills__card > img{
    height: 100px;
    width: 100px;
}
.skills__card > p{
    padding-top: 2rem;
}

/* ----- PROJECTS ----*/
.work__grid{
  margin: 1rem;
  display: grid;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.frontend__grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.backend__grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
  justify-content: center;
}
.work__link a{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
  height: 30px;
  width: 100px;
}

.work__link a:hover{
  background-color: var(--secondary-color);
}

.work__content{
  margin-top: 2rem;
}

.work__content h2{
  color: var(--black);
}

.work__content li{
  list-style-type: disc;
  color: var(--primary-color);
}

.work__link {
 margin-top: 1rem;
 display: flex;
 margin-left: 1rem;
}
.work__link a{
  margin-left: 1rem;
}

.work__section{
  color: var(--secondary-color);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}
.work__img{
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
}

/* ----- CONTACT ----*/

.contact__container{
  padding-bottom: 10rem;
}
.contact__heading{
  background-color: var(--black);
  width: 100%;
  height: 10rem;
  padding-top: 3.5rem;
}
.contact__content{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(2,45%);
  justify-content: center;
}
.form__header{
  font-size: 3rem;
  color: var(--secondary-color);
  padding-bottom: 1.5rem;
}
.contact__links{
  display: flex;
  flex-direction: column;
}
.contact__links__grid{
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 100%;
  gap: 1rem;
}
.contact__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.contact__input{
  display: flex;
  flex-direction: column;
  left: 0;
  padding-bottom: 1rem;
}
.contact__input :is(input,textarea){
  border: none;
  border-bottom: 1px solid black;
  padding-top: 0.5rem;
}
.form__submit{
  display: flex;
  justify-content: center;
}
.contact__card{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__card:hover{
  box-shadow: 3px 3px 3px var(--neutral-dark);
  cursor: pointer;
}
.contact__card img{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px;
  width: 50px;
}
.contact__card p{
  font-size: 1.7rem;
}

/* ----- FOOTER ----*/

.footer__container{
  background-color: var(--black);
  text-align: center;
  max-width: 100%;
}
.footer__header{
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--secondary-color);
}
.footer__bar{
  color: var(--primary-color);
}

/* ----- MEDIA QUERIES ----- */

/* ----- MOBILE ----- */

@media (width < 480px){
/* ----- NAV ----*/

html, body{
   overflow-x: hidden;
  }

nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.show__menu{
    top: 0;
}
.nav__btn{
  position: relative;
  margin-top: 5rem;
  margin-left: 5rem;
}
.nav__menu__btn{
  position: absolute;
  color: var(--primary-color);
  display: flex;
  right: 0;
  margin-right: 4.96rem;
}
.nav__header{
  margin-bottom: 0.1rem;
  top: 5rem;
}
.nav__links {
  position: relative;
  top: 1rem;
  margin-top: 7rem;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0;
  transition: transform 0.3s ease;
}
.nav__menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--neutral-dark);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  display: none;
}
.nav__menu.open{
  display: flex;
  opacity: 1;
  pointer-events: auto;
}
body.no-scroll{
  overflow: hidden;
}
.nav__header.hide{
  display: none;
}

/* ----- HERO ----*/
.hero__container{
  display: flex;
  flex-direction: column;
}
.hero__content{
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}
 .hero__content h1{
  font-size: 4rem;
}
.hero__image{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.hero__image img{
  max-width: 250px;
}
.hero__socials {
  justify-content: center;
}

/* ----- ABOUT ----*/
.about__container{
  display: flex;
  flex-direction: column;
}
.about__description{
  line-height: 0.2rem;
}

/* ----- SKILLS ----*/
.skills__grid{
  grid-template-columns: repeat(2,1fr);
}

/* ----- PROJECT ----*/
.frontend__grid{
  grid-template-columns: repeat(1,1fr);
}

.backend__grid{
  grid-template-columns: repeat(1,1fr);
}


/* ----- CONTACT ----*/
.contact__content{
  grid-template-columns: repeat(1,1fr);
}
.contact__links{
  margin: 4rem;
}
.contact__card{
  height: 150px;
  width: 150px;
}
.contact__input label{
  font-size: 1.2rem;
}

/* ----- FOOTER ----*/
.footer__header{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight:700;
  color: var(--secondary-color);
}
}

/* Tablet*/
@media (width < 769px){
/* ----- NAV ----*/
  nav{
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 100;
}
.nav__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ----- HERO ----*/
.hero__content h1{
  font-size: 3.1rem;
}
.hero__content h3{
  font-size: 1.1rem;
}
.hero__container{
    grid-template-columns: repeat(2,50%);
}
.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__socials {
   justify-content: flex-start;
}
.hero__socials img{
    height: 35px;
    width: 35px;
}

/* ----- ABOUT ----*/
.about__image{
  max-width: 200px;
}
.about__description{
  line-height: 1.2rem;
}
}

